<script async defer src="/javascripts/consultaTasaCambio.js" type="module"></script>
<script async defer src="/javascripts/consultaHistoricoCambio.js" type="module"></script>


<header>
    <img class="img" src="/images/divisas.jpg">
</header>

<h1>CONSULTA DE TASA DE CAMBIO</h1>
<p>Para consultar la ultima tasa de cambio de USD con relacion a otras monedas solo de hacer click en el siguiente boton
</p>

<div class="button">
    <button class="btn btn-primary" type="button" id="btnObtenerCambio">OBTENER ULTIMA TASA DE CAMBIO</button>
</div>

<div class="tabla1">
    <table class="table" id="tabla1">
        <thead class="table-dark">
            <tr>MONEDAS</tr>
            <tr>
                <td>AED(Emiratos Árabes Unidos)</td>
                <td>COP(Colombia)</td>
                <td>EUR(Euro)</td>
                <td>GBP(Reino Unido)</td>
                <td>JPY(Yen Japones)</td>
            </tr>
        </thead>

    </table>
</div>


<p>Para consultar el historico de la tasa de cambio de USD con relacion a las monedas arriba relacionadas solo de hacer
    click en el siguiente boton</p>

<div class="button">
    <button class="btn btn-primary" type="button" id="btnObtenerHistorico">OBTENER HISTORICO TASA DE CAMBIO</button>
</div>


<div class="tabla2">
    <table class="table" id="tabla2">
        <thead class="table-dark">
            <tr>MONEDAS</tr>
            <tr>
                <td>AED(Emiratos Árabes Unidos)</td>
                <td>COP(Colombia)</td>
                <td>EUR(Euro)</td>
                <td>GBP(Reino Unido)</td>
                <td>JPY(Yen Japones)</td>
            </tr>
        </thead>
        <tbody id="tbody2">

        </tbody>
    </table>
</div>